.DS_Store
.htaccess
Thumbs.db
.cache

debug.log
logs/*

sitemap.xml
sitemap.xml.gz
wp-config.php

wp-content/w3-total-cache-config-preview.php
wp-content/w3-total-cache-config.php
wp-content/uploads/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/backup-*
wp-content/cache/*
wp-content/cache/supercache/*